<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        <img src="<%= @record.image_medium %>">
      </div>
      <div class="col-xs-4 col-sm-6">
        <h2><%= @record.album_name %></h2>
        <h2><%= @record.artist_name %></h2>
      </div>
    </div>
  </div>
</div>







<!-- # album_name
# artist_name
# artist_id
# release_year
# image_large
# image_medium
# image_small -->