<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <p>
      <h2 class="playlist-heading">Playlists</h2> 
        (<%= link_to "Create", new_playlist_path %>)
      <%# if can? :create, @playlist %>
      <%# end %>
    </p>
  </div>  
</div>

<ul>
  <% @playlists.each do |playlist| %>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
        <li class="list-group-item">
          <%= link_to playlist.name, playlist %>
        </li>
      </div>
    </div> 
  <% end %> 
</ul>



