<form class="navbar-form navbar-left" role="search" id="search">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Search for an album" id="search-keyword">
  </div>
  <input class="btn btn-default" type="submit" value="Submit">
</form>