<div class="row">
  <div class="col-md-4">
    <%= render "search" %>
  </div>
  <div class="col-md-8">
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <table id="results">

    </table>
  </div>
</div>